<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/fa604ccbc4.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p><%= link_to "Bookers", root_path %></p>
      <% if user_signed_in? %>
        <a href='<%= "/users/#{current_user.id}" %>'>
          <i class="fa-solid fa-house"></i>Home
        </a>
       
        <a href="/users">
          <i class="fa-solid fa-users"></i>Users
        </a>
        <a href="/books">
          <i class="fa-solid fa-book-open"></i>Books
        </a>
        
        <a rel="nofollow" data-method="delete" href="/users/sign_out">
          <i class="fa-solid fa-right-from-bracket"></i>Log out
        </a>
      <% else %>
        <a href="/">
          <i class="fa-solid fa-house"></i>Home
        </a>
        <a href="/homes/about">
          <i class="fa-solid fa-link"></i>About
        </a>
        <a href="/users/sign_up">
          <i class="fa-solid fa-user-plus"></i>Sign up
        </a>
        <a href="/users/sign_in">
          <i class="fa-solid fa-right-to-bracket"></i>Log in
        </a>
      <% end %>
    </header>
    
    <%= yield %>
    
    <footer>CopyRight Infratop.inc</footer>
    
  </body>
</html>
